html
  include includes/head.pug
    title Protected
  body
    include includes/navbar.pug
    section(class='hero is-dark is-fullheight')
      div(class='container')
        h1(class='title') Protected Page